<div class="d-flex w-100 flex-row">
  <div class="flex-grow-1 m-5">
    <div class="d-flex flex-row align-items-center">
      <img
        class="img-fluid mt-5 m-4"
        src="./assets/icons/icon-384x384.png"
        style="width: 15vw; max-width: 150px"
      />
      <div class="flex-grow-1 text-justify" style="max-width: 50vw">
        <h2 class="my-4">Wellbeing Study Explorer</h2>
        <p>
          Willkommen beim Wellbeing Study Explorer. Er dient der Betrachtung
          kombinierten ESM und Bildschirmzeit Daten. Wenn Sie die Anwendung nur
          ausprobieren wollen, klicken Sie oben rechts auf das Zahnrad um die
          Einstellungen zu öffnen und einen Beispieldatensatz zu laden.
        </p>
        <button mat-raised-button color="primary" routerLink="/overview" *ngIf="hasData$ | async; else loadDataButton">
          Daten betrachten
        </button>
        <ng-template #loadDataButton>
          <button mat-raised-button color="primary" routerLink="/file-upload">
            Daten laden
          </button>
        </ng-template>
        <div class="mt-4 alert alert-info" role="alert">
          <i class="fa fa-info-circle"></i>
          Hinweis: Diese App überträgt keinerlei Daten. Alle Daten werden
          lediglich lokal auf Ihrem Gerät gespeichert.
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column align-items-end m-4">
    <div class="mb-3" style="background: #fafafa; border-radius: 4px">
      <img
        class="img-fluid"
        src="./assets/images/tud_logo.svg"
        style="width: 30vw; max-width: 300px"
      />
    </div>
    <div class="mb-3 p-3" style="background: #fafafa; border-radius: 4px">
      <img
        class="img-fluid"
        src="./assets/images/ise_logo.svg"
        style="width: 20vw; max-width: 200px"
      />
    </div>
  </div>
</div>
