<mat-drawer-container [hasBackdrop]="false" class="h-100">
  <mat-drawer #drawer class="detail-drawer" mode="over" position="end">
    <ng-container *ngIf="currentItem$ | async as currentItem">
      <div class="float-right m-2">
        <button type="button" class="close" (click)="drawer.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h3 class="m-2">Details</h3>
      <dl class="row">
        <dt class="col">Session</dt>
        <dd class="col text-right">{{ currentItem?.session }}</dd>
      </dl>
      <dl
        class="row"
        *ngFor="let key of currentItem?.generalInformation | keys"
      >
        <dt class="col">{{ key }}</dt>
        <dd class="col text-right">
          {{ currentItem?.generalInformation[key] }}
        </dd>
      </dl>
      <dl class="row" *ngFor="let key of currentItem.finalInformation | keys">
        <dt class="col">final_{{ key }}</dt>
        <dd class="col text-right">
          {{ currentItem?.finalInformation[key] }}
        </dd>
      </dl>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <div class="d-flex flex-row align-items-center my-1">
      <button mat-icon-button routerLink="/session">
        <i class="fa fa-chevron-left"></i>
      </button>
      <div class="flex-grow-1 mx-2">
        <mat-form-field class="w-100" *ngIf="datesForSession$ | async">
          <mat-label>Datum</mat-label>
          <input
            matInput
            [matDatepicker]="startPicker"
            [matDatepickerFilter]="dateFilter"
            [value]="surveyDataFacade.currentDate$ | async"
            (dateChange)="setDate($event.value)"
          />
          <mat-datepicker-toggle matSuffix [for]="startPicker">
          </mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="flex-grow-1 mx-2">
        <mat-form-field class="w-100">
          <mat-label>Session</mat-label>
          <mat-select
            [value]="surveyDataFacade.currentSession$ | async"
            (valueChange)="surveyDataFacade.setCurrentSession($event)"
          >
            <mat-option *ngFor="let item of sessions$ | async" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
          <button
            (click)="$event.stopPropagation(); drawer.toggle()"
            matSuffix
            mat-icon-button
            matTooltip="Allgemeine Informationen zur Session anzeigen"
          >
            <i class="fa fa-info"></i>
          </button>
        </mat-form-field>
      </div>
    </div>
    <mat-tab-group
      mat-stretch-tabs
      [selectedIndex]="1"
      (selectedIndexChange)="linkCharts()"
    >
      <mat-tab label="Daten">
        <div class="row">
          <div class="col-12">
            <h2>Experience Sampling</h2>
            <ui-table
              [loaded]="surveyDataFacade.loaded$ | async"
              [dataSource]="[(currentItem$ | async)?.esm]"
            ></ui-table>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2>Screen Time</h2>
            <ui-table
              [loaded]="surveyDataFacade.loaded$ | async"
              [dataSource]="[(currentItem$ | async)?.screenTime]"
            ></ui-table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Visualisierung">
        <div class="row">
          <div class="col-12">
            <h2>Experience Sampling</h2>
            <ui-chart
              *ngIf="chartData$('esm') | async as chartData"
              [series]="chartData.series"
              [xAxis]="chartData.xAxis"
              [darkMode]="configFacade.darkMode$ | async"
              theme="cool"
              darkTheme="dark-fresh-cut"
            ></ui-chart>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2>Screen Time</h2>
            <p>
              Produktivitätsindex:
              {{ (currentItem$ | async)?.screenTime['productivity_index'] }}
            </p>
            <ui-chart
              *ngIf="chartData$('screenTime', '_time') | async as chartData"
              [series]="chartData.series"
              [xAxis]="chartData.xAxis"
              [darkMode]="configFacade.darkMode$ | async"
              yAxisLabel="Zeit in (s)"
              theme="red-velvet"
              darkTheme="dark-mushroom"
              chartId="chartTime"
            ></ui-chart>
            <ui-chart
              *ngIf="
                chartData$('screenTime', '_numberofapplications')
                  | async as chartData
              "
              [series]="chartData.series"
              [xAxis]="chartData.xAxis"
              [darkMode]="configFacade.darkMode$ | async"
              theme="red-velvet"
              darkTheme="dark-mushroom"
              chartId="chartNumber"
              yAxisLabel="Anzahl Anwendungen"
            ></ui-chart>
            <ui-chart
              *ngIf="
                chartData$('detailedScreenTime', '_time') | async as chartData
              "
              [series]="chartData.series"
              [xAxis]="chartData.xAxis"
              [darkMode]="configFacade.darkMode$ | async"
              theme="red-velvet"
              darkTheme="dark-mushroom"
              yAxisLabel="Zeit in (s)"
            ></ui-chart>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
